<configuration xmlns="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<pipelines>			
			<!-- Patch provider-->
			<owin.identityProviders>
				<!-- Processors for configuring providers. Each provider must have its own processor-->
				<processor type="YourProjectName.MyAuthentication, YourProjectName" resolve="true" />
			</owin.identityProviders>
		</pipelines>
		<pipelines role:require="Standalone or ContentManagement">
            <owin.initialize>
			<!-- Processors for configuring of cookie provider. This can be removed if you have any other third party cookie provider configured -->
                <processor type="YourProjectName.CustomCookieProcessor, Microsite.Foundation.Authentication"
                           patch:before="processor[@name='CookieAuthentication']" />
            </owin.initialize>
        </pipelines>
		<services>		
			<register serviceType="Sitecore.Abstractions.BaseAuthenticationManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Security.AuthenticationManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />
			<register serviceType="Sitecore.Abstractions.BaseTicketManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Security.TicketManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />
			<register serviceType="Sitecore.Abstractions.BasePreviewManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Publishing.PreviewManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />			
		</services>
		<settings>
			<!-- Below settings describes your IDP settings -->
			<!-- EntityId: You will get it after IDP configuration -->
			<setting name="MyProject.EntityId"  value="Entity-Id"  />
						
			<!-- MetadataLocation: You will get it after IDP account setup -->
			<setting name="MyProject.MetadataLocation"  value="https://saml2-URL" />
			
			<!-- CallbackPath: This should be fixed and pointing to SAML default callback path. Do not change.-->
			<setting name="MyProject.ReturnUrl" value="/identity/saml2" />
		</settings>
		<!--Federated Authentication-->
		<federatedAuthentication>
			<!--Definitions of providers-->
			<identityProviders hint="list:AddIdentityProvider">
				<identityProvider id="saml2" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<!--Button text if you want to use a button-->
					<caption>Log in with SAML2 Ping Identity</caption>
					<icon>/sitecore/shell/Themes/Standard/Images/16x16/mybtn.png</icon>
					<!--Domain name which will be added when create a user-->
					<domain>sitecore</domain>
					<enabled>true</enabled>
					<!--list of identity transfromations which are applied to the provider when a user signin-->
					<transformations hint="list:AddTransformation">						
						<!--transformation of Groups/Roles-->
						<transformation name="devRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
							<!--memberOf is sent by you IDP as an array containing all your Groups/Roles assigned-->
								<claim name="memberOf" value="Claim-Group-Name" />
							</sources>
							<targets hint="raw:AddTarget">
							<!--You can target any Sitcore roles and that will get mapped with Claim groups-->
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Role-Name" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
							<!--Example: transformation of Groups/Roles-->
						<transformation name="devRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="memberOf" value="TestDevGroup" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Developers" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
					</transformations>
				</identityProvider>
			</identityProviders>

			<!--Property mappings initializer-->
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
				<!--List of property mappings, Note that all mappings from the list will be applied to each providers-->
				<maps hint="list">														
					<map name="set YorSitecoreProperty" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
						    <!--Key provided in claims: Like: name, uid, firstname etc-->
							<source name="Claim-Key"/>
							<!--Sitecore context user properties. like: Name, full name, Email-->
							<target name="Sitecore-Property" />
						</data>
					</map>
					<!--Example: mapping-->
                    <map name="set Email" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
						<data hint="raw:AddData">
							<source name="mail"/>
							<target name="Email" />
						</data>
					</map>						
				</maps>
			</propertyInitializer>

			<identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
				<!--The list of providers assigned to list of sites-->
				<mapEntry name="saml2" resolve="true" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
					<sites hint="list">
						<site>Your-Site-Name</site>
					</sites>
					<identityProviders hint="list:AddIdentityProvider">
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='saml2']" />
					</identityProviders>
					<externalUserBuilder resolve="true" type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
						<param desc="isPersistentUser">true</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>
		</federatedAuthentication>
	</sitecore>
</configuration>